version: "3.8"

services:
  # 1. Python-Backend
  app:
    build: ./server
    volumes:
      - ./server:/app
    command: sleep infinity
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/mydatabase
    networks:
      - backend-net

  # 2. MongoDB-Datenbank
  mongo:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    networks:
      - backend-net

volumes:
  mongo_data:

networks:
  backend-net:
    driver: bridge
